@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {  
    font-family: "Fascinate";
    font-style: normal;
    font-weight: 100 400;
    font-display: swap;
    src: local('Caveat'),
    url(data-base64:~assets/Caveat.ttf) format("truetype");

  }

* {
    font-family: 'Fascinate' !important;
    color: blue;
}