@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Caveat';
    src: url('url:~assets/Caveat.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
}

* {
    font-family: 'Caveat' !important;
    color: red;
}